.QSlider {
    min-width: 68px;
    max-width: 68px;
}

.QSlider::groove:vertical {
    border: 1px solid #ababab;
    border-radius: 4px;
    width: 5px;
    margin: 0 12px;
    background: #d9d9d9;
}

.QSlider::handle:vertical {
    border: 5px solid #007ad9;
    height: 23px;
    width: 100px;
    margin: -12px -24px;
    background: #007ad9;
}
